
header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  background: gray;
  overflow: auto;
}
.Logo{
  margin-left: 10px;
}
.Dropdown{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul{
  list-style-type: none;
  display: flex;
}
ul > li{
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 860px) {
  .Logo{
    margin-left: 0px !important;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  ul > li {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
}